[submodule "os/gnu-efi"]
	path = os/gnu-efi
	url = https://github.com/ncroxon/gnu-efi.git
	branch = 3.0.19
	ignore = dirty
[submodule "programs/programs/shell"]
	path = programs/programs/shell
	url = https://github.com/korbykob/NAULShell.git
[submodule "programs/programs/desktop"]
	path = programs/programs/desktop
	url = https://github.com/korbykob/NAULDesktop.git
[submodule "programs/programs/doom"]
	path = programs/programs/doom
	url = https://github.com/korbykob/NAULDoom.git
[submodule "programs/programs/terminal"]
	path = programs/programs/terminal
	url = https://github.com/korbykob/NAULTerminal.git
[submodule "programs/programs/nesemu"]
	path = programs/programs/nesemu
	url = https://github.com/korbykob/NAULNesEmu.git
